/* ajg_basic.css */

body {
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    margin: 20px;
    color: #111111;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left; /* Default text alignment for all */
}

th {
    background-color: #e9ecef;
}

/* Zebra striping for rows */
.ajgTableRow:nth-child(odd) {
    background-color: #ffffff; /* White for odd rows */
}

.ajgTableRow:nth-child(even) {
    background-color: #f2f2f2; /* Light grey for even rows */
}

/* Remove all borders */
th, td {
    border: none; /* No borders for cells */
}

/* Set width of the second column */
td:nth-child(2), th:nth-child(2) {
    min-width: 20vw; /* Set minimum width for the second column */
}

/* Responsive design for mobile devices */
@media (max-width: 768px) {
    /* Hide columns beyond the first four */
    td:nth-child(n+5), th:nth-child(n+5) {
        display: none; /* Hide columns 5 and beyond */
    }
}
