/* basic.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background: #0e3462;
    color: white;
    padding: 20px;
    text-align: center;
}
.logo {
    max-width: 100px; 
    max-height: 100px; 
    margin: 10px 0;
}
h1 {
    color: white;
    margin: 0;
}
h2 {
    color: white;
    margin: 0;
}
.slogan {
    color: #92bcee;
    margin: 0;
}
section {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h3 {
    color: #18549c;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}
footer {
    text-align: center;
    margin: 20px 0;
    font-size: 0.8em;
    color: #777;
}
a {
    color: #18549c;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.brandingheader {
    align-items: center;
    display: flex;
    text-align: center;
}
.brandinglogo {
    max-width: 40px; 
    max-height: 40px;     
    margin-right: 20px;
}
.notextdecoration {
    text-decoration: none;
    color inherit;
}
