/* basic_datatables.css */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left; /* Default text alignment for all */
}

th {
    background-color: #e9ecef;
}

/* Zebra striping for rows */
.dataTableRow:nth-child(odd) {
    background-color: #ffffff; /* White for odd rows */
}

.dataTableRow:nth-child(even) {
    background-color: #f2f2f2; /* Light grey for even rows */
}

/* Remove all borders */
th, td {
    border: none; /* No borders for cells */
}

#dataTable_filter input[type="search"] {
    float: none; /* Remove float */
    width: 25vw;    /* Set the width to 50vw */
}

.scroll-box {
    max-height: 5em; 
    overflow-y: auto;  /* Enable vertical scrolling */
    border: none; 
    padding: 0; 
    font-size: 0.8rem;
    line-height: 1.5; 
}

#uploadStatus {
    margin-top: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 0px;
}

#uploadStatus.success {
    background-color: #92bcee;
}

#uploadStatus.error {
    background-color: #f8d7da;
}