/* basic.css */

/* archivo-black-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/woff2/archivo-black-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
.rp-title-black-200em {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2em;
}
.rp-title-black-150em {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.5em;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background: #0e3462;
    padding: 20px;
    text-align: center;
}
.rp-banner a {
    text-decoration: none;
    color: white;
    margin: 0;
}
.logo {
    max-width: 100px; 
    max-height: 100px; 
    margin: 10px 0;
}
.slogan {
    color: #92bcee;
    margin: 10px 0;
}

.brandingheader {
    align-items: center;
    display: flex;
    text-align: center;
}
.brandinglogo {
    max-width: 48px; 
    max-height: 48px;     
    margin-right: 20px;
}

section {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #0e3462;
    margin: 0;
}
h2 {
    color: #18549c;
    margin: 0;
}
h3 {
    color: #18549c;
}
.padded-item {
    background: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}
footer {
    text-align: center;
    margin: 20px 0;
    font-size: 0.8em;
    color: hsl(0, 0%, 47%);
}

.blink a {
    position: relative;
    text-decoration: none;
    color: #0e3462;
}

.blink a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0e3462;
    visibility: hidden;
    animation: blink 1s infinite;
}

.blink a:hover::after {
    visibility: visible;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.qrcode-container {
    text-align: center;
    margin: 20px 0;
}
.qrcode {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
.qrcode-container p {
    margin: 0;
    font-size: 1em;
    color: #333;
}
.qrcode-container a {
    text-decoration: none;
    color: #18549c;
}
.qrcode-container a:hover {
    text-decoration: underline;
}