/* tc_datatables.css */

@media (max-width: 1800px) {
    /* Hide columns C, E, F, G, J and beyond */

    td:nth-child(3),
    th:nth-child(3),
    td:nth-child(5),
    th:nth-child(5),
    td:nth-child(6),
    th:nth-child(6),
    td:nth-child(7),
    th:nth-child(7),
    td:nth-child(n+10),
    th:nth-child(n+10) {
      display: none;
    }
    
}