/* tc_table.css */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left; /* Default text alignment for all */
}

th {
    background-color: #e9ecef;
}

/* Zebra striping for rows */
.dataTableRow:nth-child(odd) {
    background-color: #ffffff; /* White for odd rows */
}

.dataTableRow:nth-child(even) {
    background-color: #f2f2f2; /* Light grey for even rows */
}

/* Remove all borders */
th, td {
    border: none; /* No borders for cells */
}

.dataTable_filter {
    size: 50%;
}

#dataTables_filter {
    size: 50%;
}
