/* zoho_root.css */

:root {
    --body-font: 'Nunito', sans-serif;
    --page-bg-clr: 11, 62, 120;
    --page-bg-opacity: 1.0;
    --form-cont-bg-clr: 21, 83, 154;
    --form-cont-bg-opacity: 1.0;
    --form-cont-shadow-clr: transparent;
    --popup-bg-clr: 21, 83, 154;
    --header-font: 'Nunito', sans-serif;
    --hdr-bg-clr: 14, 52, 98;
    --header-bg-opacity: 1.0;
    --title-txt-clr: #ffffff;
    --description-txt-clr: #92bcee;
    --header-bdr-clr: transparent;
    --header-bdr-bottom-width: 0px;
    --label-txt-clr: #ffffff;
    --instruction-txt-clr: #92bcee;
    --value-txt-clr: 191, 203, 223;
    --input-bdr-clr: 191, 203, 223;
    --input-bg-clr: transparent;
    --input-bg-opacity: 0.0;
    --elements-clr: 45, 116, 196;
    --input-focus-clr: #ffffff;
    --field-mandatory-clr: #ff7c7c;
    --fields-ver-space-top: 25px;
    --fields-ver-space-bottom: 25px;
    --error-txt-clr: #ff7c7c;
    --submit-bg-clr: 255, 255, 255;
    --submit-bg-opacity: 1.0;
    --submit-txt-clr: #0e3462;
    --submit-bdr-clr: #ffffff;
    --save-bg-clr: 14, 52, 98;
    --save-bg-opacity: 1.0;
    --save-txt-clr: #ffffff;
    --save-bdr-clr: #0e3462;
    --review-bg-clr: 14, 52, 98;
    --review-bg-opacity: 1.0;
    --review-txt-clr: #ffffff;
    --review-bdr-clr: #0e3462;
    --back-bg-clr: transparent;
    --back-bg-opacity: 0.0;
    --back-txt-clr: #ffffff;
    --back-bdr-clr: #ffffff;
    --next-bg-clr: transparent;
    --next-bg-opacity: 0.0;
    --next-txt-clr: #ffffff;
    --next-bdr-clr: #ffffff;
    --subform-bg-clr: 13, 72, 140;
    --subform-bg-opacity: 1.0;
    --matrix-bg-clr: 14, 52, 98;
    --matrix-bg-opacity: 0.33;
    --matrix-value-table-bg-clr: transparent;
    --matrix-value-table-bg-opacity: 0.0;
    --star-selection-clr: #ffffff;
    --lightning-selection-clr: #ffffff;
    --shield-selection-clr: #ffffff;
    --heart-selection-clr: #ffffff;
    --flag-selection-clr: #ffffff;
    --bulb-selection-clr: #ffffff;
    --choice-txt-clr: #bfcbdf;
    --choice-selection-clr: 255, 255, 255;
    --slider-selection-clr: #ffffff;
    --page-visited-bg-clr: #ffffff;
    --page-visited-txt-clr: #0e3462;
    --page-unvisited-bg-clr: #7194bd;
    --page-unvisited-txt-clr: #acd1fa;
    --page-inline-title-txt-clr: #ffffff;
    --page-inline-bdr-clr: #abc6eb;
}

.pageWrapper.btnType3 {
    --submit-btn-radius: 150px;
    --save-btn-radius: 150px;
    --review-btn-radius: 150px;
    --back-btn-radius: 150px;
    --next-btn-radius: 150px;
}

.pageWrapper.fieldModel_2 {
    --input-radius: 4px;
}

.pageWrapper.type2 {
    --title-txt-size: clamp(25px, 2.86vw + 11.29px, 33px);
    --description-txt-size: clamp(16px, 0.36vw + 14.29px, 17px);
    --label-txt-size: clamp(15px, 0.36vw + 13.29px, 16px);
    --value-txt-size: clamp(15px, 0vw + 15px, 15px);
    --instruction-txt-size: clamp(13px, 0vw + 13px, 13px);
    --next-txt-size: clamp(15px, 0.36vw + 13.29px, 16px);
    --submit-txt-size: clamp(15px, 0.36vw + 13.29px, 16px);
    --save-txt-size: clamp(15px, 0.36vw + 13.29px, 16px);
    --review-txt-size: clamp(15px, 0.36vw + 13.29px, 16px);
    --back-txt-size: clamp(15px, 0.36vw + 13.29px, 16px);
    --error-txt-size: clamp(14px, 0vw + 14px, 14px);
    --matrix-qs-txt-size: clamp(15px, 0vw + 15px, 15px);
    --matrix-ans-txt-size: clamp(15px, 0vw + 15px, 15px);
    --drpdwn-list-txt-size: clamp(14px, 0.36vw + 12.29px, 15px);
    --mline-char-count-txt-size: clamp(12px, 0.71vw + 8.57px, 14px);
    --elements-h5-txt-size: clamp(14px, 0.36vw + 12.29px, 15px);
    --elements-h6-txt-size: clamp(13px, 0.36vw + 11.29px, 14px);
    --sf-addentry-txt-size: clamp(14px, 0.36vw + 12.29px, 15px);
    --sf-addentry-icon-size: clamp(16px, 1.43vw + 9.14px, 20px);
    --slider-range-txt-size: clamp(13px, 0.36vw + 11.29px, 14px);
    --date-picker-txt-size: clamp(13px, 0vw + 13px, 13px);
    --fieldcomp-label-txt-size: clamp(13px, 0vw + 13px, 13px);
    --countrycode-txt-size: clamp(14px, 0.36vw + 12.29px, 15px);
    --sf-title-txt-size: clamp(22px, 1.79vw + 13.43px, 27px);
    --sf-label-txt-size: clamp(14px, 0.36vw + 12.29px, 15px);
    --sf-value-txt-size: clamp(14px, 0vw + 14px, 14px);
    --sf-instruction-txt-size: clamp(13px, 0vw + 13px, 13px);
    --sf-submit-txt-size: clamp(14px, 0.71vw + 10.57px, 16px);
    --sf-error-txt-size: clamp(13px, 0vw + 13px, 13px);
    --sf-drpdwn-list-txt-size: clamp(13px, 0.36vw + 11.29px, 14px);
    --sf-mline-char-count-txt-size: clamp(12px, 0.36vw + 10.29px, 13px);
    --sf-elements-h5-txt-size: clamp(14px, 0vw + 14px, 14px);
    --sf-elements-h6-txt-size: clamp(13px, 0vw + 13px, 13px);
    --sf-slider-range-txt-size: clamp(13px, 0vw + 13px, 13px);
    --sf-date-picker-txt-size: clamp(13px, 0vw + 13px, 13px);
    --sf-fieldcomp-label-txt-size: clamp(13px, 0vw + 13px, 13px);
    --section-title-txt-size: clamp(19px, 1.07vw + 13.86px, 22px);
    --section-instruction-txt-size: clamp(13px, 0.36vw + 11.29px, 14px);
    --page-title-txt-size: clamp(16px, 0.36vw + 14.29px, 17px);
    --page-nav-number-size: clamp(14px, 0vw + 14px, 14px);
    --start-btn-txt-size: clamp(14px, 0.75vw + 11px, 17px);
}

.pageWrapper {
    font-size: 12px;
    font-family: var(--body-font), var(--body-font-fallback);
}

body {
    color: var(--label-txt-clr);
    margin: 0 auto;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-text-size-adjust: 100%;
    counter-reset: section;
    overflow-x: hidden;
    line-height: 1.3;
}