/* zoho_root.css */

:root {
    --body-font: Nunito;
    --page-bg-clr: 11, 62, 120;
    --page-bg-opacity: 1.0;
    --form-cont-bg-clr: 21, 83, 154;
    --form-cont-bg-opacity: 1.0;
    --form-cont-shadow-clr: transparent;
    --popup-bg-clr: 21, 83, 154;
    --header-font: Nunito;
    --hdr-bg-clr: 14, 52, 98;
    --header-bg-opacity: 1.0;
    --title-txt-clr: #ffffff;
    --description-txt-clr: #92bcee;
    --header-bdr-clr: transparent;
    --header-bdr-bottom-width: 0px;
    --label-txt-clr: #ffffff;
    --instruction-txt-clr: #92bcee;
    --value-txt-clr: 191, 203, 223;
    --input-bdr-clr: 191, 203, 223;
    --input-bg-clr: transparent;
    --input-bg-opacity: 0.0;
    --elements-clr: 45, 116, 196;
    --input-focus-clr: #ffffff;
    --field-mandatory-clr: #ff7c7c;
    --fields-ver-space-top: 25px;
    --fields-ver-space-bottom: 25px;
    --error-txt-clr: #ff7c7c;
    --submit-bg-clr: 255, 255, 255;
    --submit-bg-opacity: 1.0;
    --submit-txt-clr: #0e3462;
    --submit-bdr-clr: #ffffff;
    --save-bg-clr: 14, 52, 98;
    --save-bg-opacity: 1.0;
    --save-txt-clr: #ffffff;
    --save-bdr-clr: #0e3462;
    --review-bg-clr: 14, 52, 98;
    --review-bg-opacity: 1.0;
    --review-txt-clr: #ffffff;
    --review-bdr-clr: #0e3462;
    --back-bg-clr: transparent;
    --back-bg-opacity: 0.0;
    --back-txt-clr: #ffffff;
    --back-bdr-clr: #ffffff;
    --next-bg-clr: transparent;
    --next-bg-opacity: 0.0;
    --next-txt-clr: #ffffff;
    --next-bdr-clr: #ffffff;
    --subform-bg-clr: 13, 72, 140;
    --subform-bg-opacity: 1.0;
    --matrix-bg-clr: 14, 52, 98;
    --matrix-bg-opacity: 0.33;
    --matrix-value-table-bg-clr: transparent;
    --matrix-value-table-bg-opacity: 0.0;
    --star-selection-clr: #ffffff;
    --lightning-selection-clr: #ffffff;
    --shield-selection-clr: #ffffff;
    --heart-selection-clr: #ffffff;
    --flag-selection-clr: #ffffff;
    --bulb-selection-clr: #ffffff;
    --choice-txt-clr: #bfcbdf;
    --choice-selection-clr: 255, 255, 255;
    --slider-selection-clr: #ffffff;
    --page-visited-bg-clr: #ffffff;
    --page-visited-txt-clr: #0e3462;
    --page-unvisited-bg-clr: #7194bd;
    --page-unvisited-txt-clr: #acd1fa;
    --page-inline-title-txt-clr: #ffffff;
    --page-inline-bdr-clr: #abc6eb;
}
